/RulePack_Generator_Code/FortifyRulePackage/bin
obj
/RulePack_Generator_Code/Fortify.RulePack.Test/bin
/RulePack_Generator_Code/Fortify.RulePack.Test/obj
/RulePack_Generator_Code/Fortify.RulePack.Test/bin/Debug
